* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body {
    background-color: #ccc;
}

nav {
    display: flex;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /* box-shadow: 0px 2px #ccc; */
    background-color: rgb(16, 51, 87);
    justify-content: space-between;
    align-items: center;
    /* padding: 10px; */
}

nav li {
    position: relative;
    display: inline-block;
    padding: 20px;
    /* gap: 1000px; */
}

nav ul ul {
    position: absolute;
    display: none;
}

nav ul li:hover ul {
    display: block;
}

nav ul ul li {
    width: 200px;
    margin-left: -25px;
    background-color: rgb(16, 51, 87);
    /* opacity: 0.8; */
    border-radius: 1px;

}

nav ul ul li :hover {

    color: white;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    background-color: white;
    color: black;
    width: 30px;
    padding: 0px 0px 3px;

}

input[type="submit"] {
    margin-right: 35px;
    padding: 17px;
    background-color: white;
    border: none;
    border-radius: 10px;
}

input[type="submit"]:hover {
    transform: scale(.9);
}

.srch {
    margin-top: 63px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

img {
    width: 90px;
    margin-left: 25px;
    object-fit: contain;
}

.body {
    margin: 100px;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}


.box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.co {
    width: 100%;
    width: 700px;
    background-color: white;
    border-radius: 5px;
    padding: 30px 30px;
    margin-left: 200px;
    animation: content 2s ease-in;
}
@keyframes content{
    0% {
      opacity: 0;
      transform: translatex(500px);
    }
    100% {
      opacity: 1;
      transform: translatex(0px);
    }
  }

.co form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 10px 0px 20px;

}

h2 {
    
    align-items: center;
}

.getform {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.getform span {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.getform input {
    padding: 10px;
    width: 300px;
    outline: none;
}

.btn {
    margin-top: 40px;

}

.btn input {
    width: 100%;
    height: 50px;
    background-color: rgb(16, 51, 87);
    border: none;
    color: white;
    border-radius: 5px;

}

p {
    font-size: 15px;
    margin-left: 20px;
}

span {
    color: rgb(16, 51, 87);
}

input [type="text"] {
    background-image: url(/user.svg);
    background-repeat: no-repeat;
}